.login-form {
  padding-top: 100px; }
  .login-form input[type=text],
  .login-form input[type=password] {
    padding: 20px !important;
    font-size: 18px !important; }
  .login-form input[type=submit] {
    margin-top: 25px; }
  .login-form label {
    font-size: 20px !important; }
  .login-form span.error {
    font-size: 15px !important;
    color: red;
    font-weight: bold; }
  .login-form p {
    padding: 15px !important; }

#home {
  padding-top: 50px; }
