<nav class="navbar has-shadow">
	<div class="container">
		<div class="nav-left">
			<a class="nav-item is-tab is-active">
				<i class="fa fa-home"></i> &nbsp; Home
			</a>
			<a class="nav-item is-tab">
				<i class="fa fa-heart" aria-hidden="true"></i> &nbsp;My Favorites
			</a>
			<a class="nav-item is-tab">
				<i class="fa fa-rocket	"></i> &nbsp; My Tests
			</a>
			<a class="nav-item is-tab">
				<i class="fa fa-th-list	"></i> &nbsp; My Languages
			</a>
		</div>
	</div>
</nav>

<section class="section main-section" ng-controller="WordsController as vm">
	<div class="container">
		<div class="columns">
			<div class="column is-6 is-offset-3">
				<div class="field">
					<div class="control has-icons-right">
						<input class="input is-large" type="text" placeholder="Search for...">
						<span class="icon is-medium is-right">
							<i class="fa fa-search"></i>
						</span>
					</div>
				</div>				
			</div>
		</div>
		<div class="columns">
			<div class="column is-6 is-offset-3">
				<word-card word="Easy" language="english" date="14/08/2017" translate="Fácil, simple"></word-card>
				<word-card word="Behavior" language="english" date="14/08/2017" translate="Comportamiento"></word-card>
			</div>
		</div>
	</div>	
</section>