<div class="box">
	<article class="media">
		<div class="media-left">
			<figure class="image is-64x64">
				<img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
			</figure>
		</div>
		<div class="media-content">
			<div class="content">
				<p>
					<strong>{{word}}</strong> <small>@{{language}}</small> <small>[{{date}}]</small>
					<br>
					{{translate}}
				</p>
			</div>
			<nav class="level is-mobile">
				<div class="level-left">									
					<a class="level-item">
						<span class="icon is-small"><i class="fa fa-heart-o"></i></span>
					</a>
				</div>
			</nav>
		</div>
	</article>
</div>